/* Grid */
.comic-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(183px, 1fr));
    gap: 20px;
    padding: 0;
    margin-bottom: 30px;
}

.main-content {
    max-width: 995px;
}

/* Comic */

.comic {
    display: flex;
    flex-direction: row-reverse;
}

.comic .img-cont {
    min-width: 125px;
    width: 125px;
    height: 188px;
    position: relative;
}

.comic .comic-title {
    font-family: var(--montserrat);
    font-size: 16px;
    font-weight: bold;
    color: var(--gray-dark);
    margin-top: 0;
    margin-bottom: 10px;
}

.comic .info-section {
    padding-right: 20px;
}

.comic .info-list {
    list-style-type: none;
    font-family: var(--karla);
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.comic .info-list li strong {
    margin-right: 5px;
}

.comic .img-cont {
    position: relative;
    margin-bottom: 10px;
}

.comic .img-cont img {
    filter: drop-shadow(0px 5px 15px var(--gray-light));
}

.comic .favorite-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--gray-dark);
    color: var(--off-white);
    position: absolute;
    bottom: 50%;
    left: -15px;
    cursor: pointer;
}

.comic[data-saved=true] .favorite-button {
    background-color: var(--pink);
    border: 2px solid var(--off-white);
}

/* Pager */

.pager-cont {
    width: 100%;
}

.pager-cont .pager ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.pager-cont .pager ul li button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--gray-dark);
    color: var(--off-white);
    border: none;
}

.pager-cont .pager ul li span {
    font-family: var(--karla);
    font-size: 18px;
    color: var(--gray-dark);
}

@media(hover:hover) {
    .comic .favorite-button:hover {
        background-color: var(--pink);
        border: 2px solid var(--off-white);
    }
}

@media(min-width:40em) {
    .comic {
        display: block;
    }

    .comic .favorite-button {
        bottom: -10px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}

@media(min-width: 64em) {

    .comic-grid {
        margin-bottom: 80px;
    }

    .comic .img-cont {
        width: 183px;
        height: 276px;
    }

    .comic .comic-title {
        font-size: 18px;
    }

    .comic .info-section {
        padding: 0;
    }
}