.favorites-grid {
    width: 265px;
    height: fit-content;
    background-color: var(--gray-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
    padding: 10px;
}

.favorites-grid[data-mobile="false"] {
    display: none;
}

.favorites-grid h3 {
    font-family: var(--montserrat);
    font-size: 25px;
    font-weight: 900px;
    color: var(--off-white);
}

.faved-comic {
    display: flex;
    gap: 10px;
    max-width: 202px;
}

.faved-comic .img-cont {
    width: 50px;
    height: 75px;
    position: relative;
    flex-shrink: 0;
}

.faved-comic .remove-btn {
    width: 12px;
    height: 12px;
    background-color: var(--off-white);
    color: var(--pink);
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: -5px;
    font-size: 8px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.faved-comic .comic-title {
    font-family: var(--karla);
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
    color: var(--off-white);
}

.faved-comic .issue-number {
    font-family: var(--karla);
    font-size: 14px;
    color: var(--off-white);
}

.favorites-grid[data-show-grid=false] {
    display: none;
}

.favorites-grid[data-mobile=true] {
    align-items: flex-start;
    padding: 0;
    width: 100%;
}

.favorites-grid[data-mobile=true] h3 {
    margin: 0;
    padding-left: 30px;
}

.favorites-grid[data-mobile=true] .faved-comic {
    padding-left: 30px;
}

.favorites-grid[data-mobile=true] .remove-btn {
    width: 35px;
    height: 35px;
    font-size: 15px;
    opacity: 80%;
    top: -15px;
    left: -15px;
}

.favorites-grid[data-mobile=true] .hide-button {
    font-family: var(--montserrat);
    font-weight: bold;
    color: var(--off-white);
    font-size: 14px;
    background-color: var(--pink);
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    gap: 5px;
}

@media(min-width:64em) {
    .favorites-grid {
        min-height: 412px;
        padding: 0 30px;
    }

    .favorites-grid .faved-comic {
        margin-bottom: 26px;
    }

    .favorites-grid[data-mobile="false"] {
        display: block;
    }

    .favorites-grid[data-mobile="true"] {
        display: none;
    }
}