.favorites-grid {
    width: 265px;
    background-color: var(--gray-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.favorites-grid h3 {
    font-family: var(--montserrat);
    font-size: 25px;
    font-weight: 900px;
    color: var(--off-white);
}

@media(min-width:64em) {
    .favorites-grid {
        min-height: 412px;
    }
}