.intro-section, .comic-section {
  padding: 0 20px;
}

.comic-section {
  margin-bottom: 60px;
}

.intro-section {
  padding-top: 20px;
}

.intro-section .title {
  font-size: 20px;
  color: var(--pink);
  font-weight: 900;
}

.intro-section .title-flag {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--mint);
  width: 130px;
  height: 30px;
  transform: rotate(-5deg);
  position: relative;
  top: 18px;
  z-index: -1;
}

.intro-section .title-flag p {
  color: var(--off-white);
  size: 12px;
  font-family: var(--montserrat);
  font-weight: bold;
  filter: drop-shadow(2px 2px 0px var(--gray-dark));
}

@media(min-width:64em) {
  .filter-results {
    min-width: 700px;
  }

  .intro-section, .comic-section {
    padding: 0 60px;
  }

  .intro-section {
    padding-top: 65.92px;
    max-width: 670px;
    margin: 0 auto;
  }

  .intro-section .title {
    font-size: 49px;
    margin: 0;
  }

  .intro-section .title-flag {
    width: 158.93px;
    height: 49.16px;
    right: 40px
  }

  .intro-section .title-flag p {
    font-size: 18px;
  }

  .comic-section {
    display: flex;
    gap: 60px;
    max-width:fit-content;
    margin: 0 auto 90px;
  }
}

@media(min-width:90em) {
  .filter-results {
    min-width: 995px;
  }
}
